@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.playwrite-cu-font {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


:root {
    --primary-color: #E6533C;
    --secondary-color: #FFFFFF80;
}

* {
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: black;
}




/* shared style */

.primary-button {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    color: white;
    border: none;
}

main {
    max-width: 1180px;
    margin: 0px auto;
    background-color: black;
}

section {
    margin-top: 100px;
}

footer{
    background-color: #222222;
    margin-top: 100px;
}


.display-flex {
    display: flex;
}

.section-heading {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin: 0px;
}

.section-description {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--secondary-color);
    margin-top: 14px;
}


/* Navbar-style */

.header-section {
    background: rgb(17, 17, 17);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(45, 41, 41, 1) 49%, rgb(0, 0, 0) 100%);
}


.nav-bar {
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 55px;
}

.nav-logo h2 {
    color: var(--primary-color);
    font-weight: 800;
    font-size: 2.3rem;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 4px;
}

.nav-items>li {
    list-style: none;
    color: white;
    padding-right: 20px;
}

.nav-icon {
    display: none;
}

/* Navbar-style end */

/* banner section style start */
#download-app {
    border-radius: 42px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    padding: 8px 20px 8px 20px;
    color: white;
    margin-left: 0.8rem;
}

/* banner section style end */

.banner {
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
    gap: 20px;
}

.banner-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
}

.banner-content h1 {
    color: white;
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
}

#fancy-font {
    font-size: 4rem;
}

.banner-content p {
    color: var(--secondary-color);
    width: 80%;
}


.banner-image-container {
    position: relative;
}

.workout-section {
    width: 200px;
    padding: 17px 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    position: absolute;
    top: 20%;
    left: 60%;
}

.workout-section h1 {
    color: white;
    font-size: 1.5rem;
}

.workout-section p {
    color: var(--secondary-color);
}

.workout-section-second {
    max-width: 200px;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 250px;
    padding: 17px 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    position: absolute;
    top: 80%;
    right: 70%;
}

.workout-section-button {
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 50%;
}

.workout-section-second h1 {
    color: white;
    font-size: 1.3rem;
}

.workout-section-second {
    color: var(--secondary-color);
}

/* header section End */


/* Main section style start */


/* habit section style start */

.habit-content-container {
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 3rem;
    text-align: center;
}

.habit-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.8rem;
}

.habit-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habit-card img {
    border-radius: 50%;
    margin-bottom: 30px;
}

.habit-card h3 {
    color: white;
}


.habit-card p {
    text-align: center;
}

/* habit section style End */


/* Run section start */

.run-section {

    display: flex;
    justify-content: space-between;
    padding: 2.8rem 3.3rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);

}

.run-content {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.run-content p {
    margin-bottom: 2rem;
}

.run-img {
    width: 50%;
}

.run-content button {
    padding: 1rem 3.7rem;
}

.run-img img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

/* Run section End */



/* Training-section-style-start */


.training-img-container {
    margin-top: 2rem;
}

.row-one {
    max-width: 100%;
    min-height: 450px;
    display: grid;
    grid-template-columns: 1fr 50px 1fr 1fr 50px 1fr;
    grid-template-areas:
        "card-1 card-2 card-2 card-2 card-3 card-3"
        "card-4 card-4 card-4 card-5 card-6 card-6"
}

#card-1 {
    grid-area: card-1;
    background: linear-gradient(180deg, rgba(48, 210, 213, 0.562) 0%, rgba(48, 210, 213, 0.562)  100%), url("../images/exercise1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

#card-1 p {
    position: absolute;
    bottom: 20%;
    left: 10%;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 0.9rem;
}

#card-2 {
    grid-area: card-2;
    background: linear-gradient(180deg, rgba(246, 85, 85, 0.488) 2%, rgba(246, 85, 85, 0.488) 100%), url("../images/exercise2.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

#card-2 p {
    position: absolute;
    left: 5%;
    top: 10%;
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
}

#card-3 {
    grid-area: card-3;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.48792016806722693) 2%, rgba(0, 0, 0, 0.3562675070028011) 100%), url("../images/exercise3.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

#card-3 p {
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
}

#card-4 {
    grid-area: card-4;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.48792016806722693) 2%, rgba(0, 0, 0, 0.3562675070028011) 100%), url("../images/exercise4.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

#card-4 p {
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
}

#card-5 {
    grid-area: card-5;
    background: linear-gradient(180deg, rgba(48,214,32,0.5439425770308124) 0%, rgba(48,214,32,0.5439425770308124) 100%), url("../images/exercise5.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

#card-5 p {
    position: absolute;
    left: 5%;
    top: 10%;
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
}

#card-6 {
    grid-area: card-6;
    background: linear-gradient(180deg, rgba(86, 84, 211, 0.488) 2%, rgba(86, 84, 211, 0.488) 100%), url("../images/exercise6.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

#card-6 p {
    width: 50%;
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
}






/* Training-section-style-End */










/* BMI Calculator section start*/


.bmi-heading-container {
    width: 45%;
    margin: 0 auto;
    margin-top: 78px;
}


#bmi-calculator-section {
    background-color: #222222;
    min-width: 100%;
    position: absolute;
    left: 0%;
    padding: 2rem;
}

#bmi-calculator-div {
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.bmi-chart-heading {
    color: white;
    font-weight: 900;
    font-size: 1.75rem;
    margin: 0px;
    margin-bottom: 50px;
}


.calculate-your-bmi-div {
    width: 50%;
}

.calculate-your-bmi-heading {
    color: white;
    font-weight: 900;
    font-size: 1.75rem;
}


table,
th,
td {
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: left;
}

td{
    color: var(--secondary-color);
}

th,
td {
    padding: 10px 30px;
}

.input-box {
    margin-top: 1rem;
}

input,
select,
option {
    color: white;
    width: 47%;
    background-color: #121111;
    padding: 1.2rem 1rem;
    margin: 0.25rem;
    border-radius: 5px;
    border: none;
}

#select-an-activity {
    width: 97%;
}

#calculate-btn {
    margin-top: 20px;
    font-size: 1.25rem;
    padding: 10px 50px;
}

/* BMI Calculator section End*/

/* Meet our team section style start */


.team-member-intro-section {
    margin-top: 37rem;
}

.team-heading-container {
    width: 45%;
    margin: 0px auto;
    text-align: center;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 4rem;
    background-color: #222222;
    padding: 30px;
    border-radius: 10px;
}

.team-img div {
    min-height: 300px;
    border-radius: 10px;
}

.member-1 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.14058123249299714) 0%, rgba(0, 0, 0, 0.5243347338935574) 100%), url(../images/trainer1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.member-1 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.14058123249299714) 0%, rgba(0, 0, 0, 0.5243347338935574) 100%), url(../images/trainer1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.member-2 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.14058123249299714) 0%, rgba(0, 0, 0, 0.5243347338935574) 100%), url(../images/trainer2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.member-3 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.14058123249299714) 0%, rgba(0, 0, 0, 0.5243347338935574) 100%), url(../images/trainer3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.member-4 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.14058123249299714) 0%, rgba(0, 0, 0, 0.5243347338935574) 100%), url(../images/trainer4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.member-5 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.14058123249299714) 0%, rgba(0, 0, 0, 0.5243347338935574) 100%), url(../images/trainer5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.member-6 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.14058123249299714) 0%, rgba(0, 0, 0, 0.5243347338935574) 100%), url(../images/trainer6.png);
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.member-info {
    position: absolute;
    top: 80%;
    left: 10%;
}

.member-info h2 {
    color: white;
}

.member-info p {
    color: var(--secondary-color)
}

/* Meet our team section style end */

/* main section style end */




/* footer-section-start */
.footer-section{
    max-width: 1180px;
    margin: 0px auto;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 3rem;
    padding-bottom: 4rem;
}
.Footer-logo{
    max-width: 35%;
}
.Footer-logo h2{
    font-size: 5rem;
    color: var(--primary-color);
    font-weight: bolder;
    margin-bottom: 1.25rem;
}
.Footer-logo p{
    font-size: 1rem;
    color: var(--secondary-color);
    line-height: 1.4rem;
    font-weight: 300;
}

.footer-list-1 {
    width: 30%;
    padding-left: 2.5rem;
}
.footer-list-1 h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.footer-list-1 li{
    font-weight: 300;
   list-style: none;
   margin-top: 1rem;
   color: var(--secondary-color);
   font-size: 1.5rem;
}


.footer-list-2 {
    width: 30%;
    padding-left: 2.5rem;
}
.footer-list-2 h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.footer-list-2 li{
    font-weight: 300;
   list-style: none;
   margin-top: 1rem;
   color: var(--secondary-color);
   font-size: 1.5rem;
}

.hr{
    color: var(--secondary-color);
    width: 80%;
    margin: 0px auto;
}

.copyright{
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 2rem;
}

/* footer-section-End */